07-bpel/WorkerWageManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<wsdl:definitions 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
    xmlns:wsp="http://www.w3.org/ns/ws-policy" 
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://tut01/wage/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    targetNamespace="http://tut01/wage/" 
    name="WorkerWageManagerImplService"
>
<wsdl:types>
<xsd:schema  attributeFormDefault="unqualified" 
elementFormDefault="unqualified"
targetNamespace="http://tut01/wage/">

   <xs:complexType name="doPayout">
   <xs:sequence>
   <xs:element name="arg0" type="xs:string" minOccurs="0"/>
   <xs:element name="arg1" type="xs:string" minOccurs="0"/>
   <xs:element name="arg2" type="xs:string" minOccurs="0"/>
   </xs:sequence>
   </xs:complexType>
   <xs:complexType name="doPayoutResponse">
   </xs:complexType>

   <xs:complexType name="addNewEmployee">
        <xs:sequence>
            <xs:element name="arg0" type="xs:string" minOccurs="0"/>
            <xs:element name="arg1" type="xs:string" minOccurs="0"/>
            <xs:element name="arg2" type="xs:string" minOccurs="0"/>
        </xs:sequence>
   </xs:complexType>

   <xs:complexType name="addNewEmployeeResponse">
   <xs:sequence>
   <xs:element name="return" type="xs:int"/>
   </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getLastPayoutDate">
   <xs:sequence>
   <xs:element name="arg0" type="xs:string" minOccurs="0"/>
   </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getLastPayoutDateResponse">
   </xs:complexType>
   <xs:complexType name="getExplanationWhyPayoutIsLate">
   <xs:sequence>
   <xs:element name="arg0" type="xs:string" minOccurs="0"/>
   </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getExplanationWhyPayoutIsLateResponse">
   <xs:sequence>
   <xs:element name="return" type="xs:string" minOccurs="0"/>
   </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getCurrentWageEstimate">
   <xs:sequence>
   <xs:element name="arg0" type="xs:string" minOccurs="0"/>
   </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getCurrentWageEstimateResponse">
   <xs:sequence>
   <xs:element name="return" type="xs:long"/>
   </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recordMoneyEarnedForCompany">
   <xs:sequence>
   <xs:element name="arg0" type="xs:string" minOccurs="0"/>
   <xs:element name="arg1" type="xs:string" minOccurs="0"/>
   <xs:element name="arg2" type="xs:string" minOccurs="0"/>
   <xs:element name="arg3" type="xs:long"/>
   </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recordMoneyEarnedForCompanyResponse">
   <xs:sequence>
   <xs:element name="return" type="xs:int"/>
   </xs:sequence>
   </xs:complexType>

   
   <xs:element name="addNewEmployee" type="tns:addNewEmployee"/>
   <xs:element name="addNewEmployeeResponse" type="tns:addNewEmployeeResponse"/>
   <xs:element name="doPayout" type="tns:doPayout"/>
   <xs:element name="doPayoutResponse" type="tns:doPayoutResponse"/>
   <xs:element name="getCurrentWageEstimate" type="tns:getCurrentWageEstimate"/>
   <xs:element name="getCurrentWageEstimateResponse" type="tns:getCurrentWageEstimateResponse"/>
   <xs:element name="getExplanationWhyPayoutIsLate" type="tns:getExplanationWhyPayoutIsLate"/>
   <xs:element name="getExplanationWhyPayoutIsLateResponse" type="tns:getExplanationWhyPayoutIsLateResponse"/>
   <xs:element name="getLastPayoutDate" type="tns:getLastPayoutDate"/>
   <xs:element name="getLastPayoutDateResponse" type="tns:getLastPayoutDateResponse"/>
   <xs:element name="recordMoneyEarnedForCompany" type="tns:recordMoneyEarnedForCompany"/>
   <xs:element name="recordMoneyEarnedForCompanyResponse" type="tns:recordMoneyEarnedForCompanyResponse"/>
</xsd:schema>
</wsdl:types>


<wsdl:message name="doPayout">
    <wsdl:part name="parameters" element="tns:doPayout"/>
</wsdl:message>
<wsdl:message name="doPayoutResponse">
    <wsdl:part name="parameters" element="tns:doPayoutResponse"/>
</wsdl:message>
<wsdl:message name="addNewEmployee">
    <wsdl:part name="parameters" element="tns:addNewEmployee"/>
</wsdl:message>
<wsdl:message name="addNewEmployeeResponse">
    <wsdl:part name="parameters" element="tns:addNewEmployeeResponse"/>
</wsdl:message>
<wsdl:message name="getLastPayoutDate">
    <wsdl:part name="parameters" element="tns:getLastPayoutDate"/>
</wsdl:message>
<wsdl:message name="getLastPayoutDateResponse">
    <wsdl:part name="parameters" element="tns:getLastPayoutDateResponse"/>
</wsdl:message>
<wsdl:message name="getExplanationWhyPayoutIsLate">
    <wsdl:part name="parameters" element="tns:getExplanationWhyPayoutIsLate"/>
</wsdl:message>
<wsdl:message name="getExplanationWhyPayoutIsLateResponse">
    <wsdl:part name="parameters" element="tns:getExplanationWhyPayoutIsLateResponse"/>
</wsdl:message>
<wsdl:message name="recordMoneyEarnedForCompany">
    <wsdl:part name="parameters" element="tns:recordMoneyEarnedForCompany"/>
</wsdl:message>
<wsdl:message name="recordMoneyEarnedForCompanyResponse">
    <wsdl:part name="parameters" element="tns:recordMoneyEarnedForCompanyResponse"/>
</wsdl:message>
<wsdl:message name="getCurrentWageEstimate">
    <wsdl:part name="parameters" element="tns:getCurrentWageEstimate"/>
</wsdl:message>
<wsdl:message name="getCurrentWageEstimateResponse">
    <wsdl:part name="parameters" element="tns:getCurrentWageEstimateResponse"/>
</wsdl:message>

<wsdl:portType name="WorkerWageManager">
    <wsdl:operation name="doPayout">
        <wsdl:input message="tns:doPayout"/>
        <wsdl:output message="tns:doPayoutResponse"/>
    </wsdl:operation>
    <wsdl:operation name="addNewEmployee">
        <wsdl:input message="tns:addNewEmployee"/>
        <wsdl:output message="tns:addNewEmployeeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLastPayoutDate">
        <wsdl:input message="tns:getLastPayoutDate"/>
        <wsdl:output message="tns:getLastPayoutDateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getExplanationWhyPayoutIsLate">
        <wsdl:input message="tns:getExplanationWhyPayoutIsLate"/>
        <wsdl:output message="tns:getExplanationWhyPayoutIsLateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="recordMoneyEarnedForCompany">
        <wsdl:input message="tns:recordMoneyEarnedForCompany"/>
        <wsdl:output message="tns:recordMoneyEarnedForCompanyResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCurrentWageEstimate">
        <wsdl:input message="tns:getCurrentWageEstimate"/>
        <wsdl:output message="tns:getCurrentWageEstimateResponse"/>
    </wsdl:operation>
</wsdl:portType>


<wsdl:binding name="WorkerWageManagerImplPortBinding" type="tns:WorkerWageManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="doPayout">
        <soap:operation soapAction=""/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewEmployee">
        <soap:operation soapAction=""/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastPayoutDate">
        <soap:operation soapAction=""/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExplanationWhyPayoutIsLate">
        <soap:operation soapAction=""/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recordMoneyEarnedForCompany">
        <soap:operation soapAction=""/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentWageEstimate">
        <soap:operation soapAction=""/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
</wsdl:binding>



<wsdl:service name="WorkerWageManagerImplService">
    <wsdl:port name="WorkerWageManagerImplPort" binding="tns:WorkerWageManagerImplPortBinding">
        <soap:address location="http://127.0.0.1:8000/WorkerWageManager"/>
    </wsdl:port>
</wsdl:service>

</wsdl:definitions>