07-bpel/WorkDistributor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tut01/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tut01/" name="WorkDistributorImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://tut01/" schemaLocation="http://127.0.0.1:8000/WorkDistributor?xsd=1"/>
</xsd:schema>
</types>
<message name="getEmployeeResponsibleForAssignment">
<part name="parameters" element="tns:getEmployeeResponsibleForAssignment"/>
</message>
<message name="getEmployeeResponsibleForAssignmentResponse">
<part name="parameters" element="tns:getEmployeeResponsibleForAssignmentResponse"/>
</message>
<message name="getPhoneNumberCurrentProgress">
<part name="parameters" element="tns:getPhoneNumberCurrentProgress"/>
</message>
<message name="getPhoneNumberCurrentProgressResponse">
<part name="parameters" element="tns:getPhoneNumberCurrentProgressResponse"/>
</message>
<message name="pushNewPhoneNumber">
<part name="parameters" element="tns:pushNewPhoneNumber"/>
</message>
<message name="pushNewPhoneNumberResponse">
<part name="parameters" element="tns:pushNewPhoneNumberResponse"/>
</message>
<message name="getListOfAssignedPhoneNumbers">
<part name="parameters" element="tns:getListOfAssignedPhoneNumbers"/>
</message>
<message name="getListOfAssignedPhoneNumbersResponse">
<part name="parameters" element="tns:getListOfAssignedPhoneNumbersResponse"/>
</message>
<message name="getMetadataForPhoneNumber">
<part name="parameters" element="tns:getMetadataForPhoneNumber"/>
</message>
<message name="getMetadataForPhoneNumberResponse">
<part name="parameters" element="tns:getMetadataForPhoneNumberResponse"/>
</message>
<message name="setPhoneNumberCurrentProgress">
<part name="parameters" element="tns:setPhoneNumberCurrentProgress"/>
</message>
<message name="setPhoneNumberCurrentProgressResponse">
<part name="parameters" element="tns:setPhoneNumberCurrentProgressResponse"/>
</message>
<portType name="WorkDistributor">
<operation name="getEmployeeResponsibleForAssignment">
<input wsam:Action="http://tut01/WorkDistributor/getEmployeeResponsibleForAssignmentRequest" message="tns:getEmployeeResponsibleForAssignment"/>
<output wsam:Action="http://tut01/WorkDistributor/getEmployeeResponsibleForAssignmentResponse" message="tns:getEmployeeResponsibleForAssignmentResponse"/>
</operation>
<operation name="getPhoneNumberCurrentProgress">
<input wsam:Action="http://tut01/WorkDistributor/getPhoneNumberCurrentProgressRequest" message="tns:getPhoneNumberCurrentProgress"/>
<output wsam:Action="http://tut01/WorkDistributor/getPhoneNumberCurrentProgressResponse" message="tns:getPhoneNumberCurrentProgressResponse"/>
</operation>
<operation name="pushNewPhoneNumber">
<input wsam:Action="http://tut01/WorkDistributor/pushNewPhoneNumberRequest" message="tns:pushNewPhoneNumber"/>
<output wsam:Action="http://tut01/WorkDistributor/pushNewPhoneNumberResponse" message="tns:pushNewPhoneNumberResponse"/>
</operation>
<operation name="getListOfAssignedPhoneNumbers">
<input wsam:Action="http://tut01/WorkDistributor/getListOfAssignedPhoneNumbersRequest" message="tns:getListOfAssignedPhoneNumbers"/>
<output wsam:Action="http://tut01/WorkDistributor/getListOfAssignedPhoneNumbersResponse" message="tns:getListOfAssignedPhoneNumbersResponse"/>
</operation>
<operation name="getMetadataForPhoneNumber">
<input wsam:Action="http://tut01/WorkDistributor/getMetadataForPhoneNumberRequest" message="tns:getMetadataForPhoneNumber"/>
<output wsam:Action="http://tut01/WorkDistributor/getMetadataForPhoneNumberResponse" message="tns:getMetadataForPhoneNumberResponse"/>
</operation>
<operation name="setPhoneNumberCurrentProgress">
<input wsam:Action="http://tut01/WorkDistributor/setPhoneNumberCurrentProgressRequest" message="tns:setPhoneNumberCurrentProgress"/>
<output wsam:Action="http://tut01/WorkDistributor/setPhoneNumberCurrentProgressResponse" message="tns:setPhoneNumberCurrentProgressResponse"/>
</operation>
</portType>
<binding name="WorkDistributorImplPortBinding" type="tns:WorkDistributor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEmployeeResponsibleForAssignment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPhoneNumberCurrentProgress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pushNewPhoneNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListOfAssignedPhoneNumbers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMetadataForPhoneNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPhoneNumberCurrentProgress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WorkDistributorImplService">
<port name="WorkDistributorImplPort" binding="tns:WorkDistributorImplPortBinding">
<soap:address location="http://127.0.0.1:8000/WorkDistributor"/>
</port>
</service>
</definitions>