07-bpel/WorkerWageManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tut01/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tut01/" name="WorkerWageManagerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://tut01/" schemaLocation="http://127.0.0.1:8000/WorkerWageManager?xsd=1"/>
</xsd:schema>
</types>
<message name="doPayout">
<part name="parameters" element="tns:doPayout"/>
</message>
<message name="doPayoutResponse">
<part name="parameters" element="tns:doPayoutResponse"/>
</message>
<message name="addNewEmployee">
<part name="parameters" element="tns:addNewEmployee"/>
</message>
<message name="addNewEmployeeResponse">
<part name="parameters" element="tns:addNewEmployeeResponse"/>
</message>
<message name="getLastPayoutDate">
<part name="parameters" element="tns:getLastPayoutDate"/>
</message>
<message name="getLastPayoutDateResponse">
<part name="parameters" element="tns:getLastPayoutDateResponse"/>
</message>
<message name="getExplanationWhyPayoutIsLate">
<part name="parameters" element="tns:getExplanationWhyPayoutIsLate"/>
</message>
<message name="getExplanationWhyPayoutIsLateResponse">
<part name="parameters" element="tns:getExplanationWhyPayoutIsLateResponse"/>
</message>
<message name="recordMoneyEarnedForCompany">
<part name="parameters" element="tns:recordMoneyEarnedForCompany"/>
</message>
<message name="recordMoneyEarnedForCompanyResponse">
<part name="parameters" element="tns:recordMoneyEarnedForCompanyResponse"/>
</message>
<message name="getCurrentWageEstimate">
<part name="parameters" element="tns:getCurrentWageEstimate"/>
</message>
<message name="getCurrentWageEstimateResponse">
<part name="parameters" element="tns:getCurrentWageEstimateResponse"/>
</message>
<portType name="WorkerWageManager">
<operation name="doPayout">
<input wsam:Action="http://tut01/WorkerWageManager/doPayoutRequest" message="tns:doPayout"/>
<output wsam:Action="http://tut01/WorkerWageManager/doPayoutResponse" message="tns:doPayoutResponse"/>
</operation>
<operation name="addNewEmployee">
<input wsam:Action="http://tut01/WorkerWageManager/addNewEmployeeRequest" message="tns:addNewEmployee"/>
<output wsam:Action="http://tut01/WorkerWageManager/addNewEmployeeResponse" message="tns:addNewEmployeeResponse"/>
</operation>
<operation name="getLastPayoutDate">
<input wsam:Action="http://tut01/WorkerWageManager/getLastPayoutDateRequest" message="tns:getLastPayoutDate"/>
<output wsam:Action="http://tut01/WorkerWageManager/getLastPayoutDateResponse" message="tns:getLastPayoutDateResponse"/>
</operation>
<operation name="getExplanationWhyPayoutIsLate">
<input wsam:Action="http://tut01/WorkerWageManager/getExplanationWhyPayoutIsLateRequest" message="tns:getExplanationWhyPayoutIsLate"/>
<output wsam:Action="http://tut01/WorkerWageManager/getExplanationWhyPayoutIsLateResponse" message="tns:getExplanationWhyPayoutIsLateResponse"/>
</operation>
<operation name="recordMoneyEarnedForCompany">
<input wsam:Action="http://tut01/WorkerWageManager/recordMoneyEarnedForCompanyRequest" message="tns:recordMoneyEarnedForCompany"/>
<output wsam:Action="http://tut01/WorkerWageManager/recordMoneyEarnedForCompanyResponse" message="tns:recordMoneyEarnedForCompanyResponse"/>
</operation>
<operation name="getCurrentWageEstimate">
<input wsam:Action="http://tut01/WorkerWageManager/getCurrentWageEstimateRequest" message="tns:getCurrentWageEstimate"/>
<output wsam:Action="http://tut01/WorkerWageManager/getCurrentWageEstimateResponse" message="tns:getCurrentWageEstimateResponse"/>
</operation>
</portType>
<binding name="WorkerWageManagerImplPortBinding" type="tns:WorkerWageManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="doPayout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastPayoutDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExplanationWhyPayoutIsLate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recordMoneyEarnedForCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrentWageEstimate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WorkerWageManagerImplService">
<port name="WorkerWageManagerImplPort" binding="tns:WorkerWageManagerImplPortBinding">
<soap:address location="http://127.0.0.1:8000/WorkerWageManager"/>
</port>
</service>
</definitions>